#header-first-container nav, #header-first-container nav button, #header-first-container nav .soc-media-links ul, #header-first-container nav .soc-media-links ul li a, #header-first-container nav .right-links ul li, #header-sec-container .logo-container > a, #header-sec-container .header-sec, #header-sec-container .header-sec nav ul, #header-third-container nav, #header-third-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a,
button {
  cursor: pointer;
}

#header-first-container {
  background-color: #2c9d30;
  color: #fff;
  padding: 15px 0;
}

#header-first-container nav {
  width: 95%;
  margin: auto;
  z-index: 1;
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav {
    position: relative;
  }
}

#header-first-container nav button {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  gap: 5px;
}

#header-first-container nav .soc-media-links ul li {
  margin: 0 10px;
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .soc-media-links ul li {
    color: #000;
  }
}

#header-first-container nav .soc-media-links ul li span:hover {
  text-decoration: underline;
}

#header-first-container nav .soc-media-links ul li a span {
  margin: 0 5px;
}

@media only screen and (max-width: 840px) {
  #header-first-container nav .right-links {
    display: none;
  }
}

#header-first-container nav .right-links ul li:nth-child(n+3) {
  background-color: #239327;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

#header-first-container nav .right-links ul li .icon-tabler-sun {
  display: none;
}

#header-first-container nav .menu-btn {
  display: none;
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .menu-btn {
    display: inline-block;
  }
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .hide {
    display: none;
  }
}

#header-first-container nav .show {
  display: inline-block;
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .left-links {
    width: 100%;
    position: absolute;
  }
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .left-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    color: #000;
  }
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .left-links ul li:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .left-links ul li {
    width: 100%;
    padding-block: 1rem;
    padding-inline: 1rem;
  }
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .left-links ul li a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: .5rem;
  }
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .left-links ul li svg {
    fill: #000;
  }
}

@media only screen and (max-width: 1250px) {
  #header-first-container nav .left-links ul li svg path {
    fill: #000;
  }
}

#header-sec-container {
  padding: 10px 0;
}

#header-sec-container .header-sec {
  width: 95%;
  margin: 10px auto;
}

#header-sec-container .header-sec nav {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin-left: 20px;
}

@media only screen and (max-width: 991px) {
  #header-sec-container .header-sec nav {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

#header-sec-container .header-sec nav ul {
  gap: 20px;
}

@media only screen and (max-width: 991px) {
  #header-sec-container .header-sec nav ul {
    display: none;
  }
}

#header-sec-container .header-sec nav ul li:first-child:hover {
  color: #04af2f;
}

#header-sec-container .header-sec nav ul li:not(:first-child) a:hover {
  text-decoration: underline;
}

#header-sec-container .header-sec nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

#header-sec-container .header-sec nav ul li:nth-child(2) {
  margin-left: auto;
}

#header-sec-container .header-sec nav ul li button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #04af2f;
  padding: 10px 20px;
  border: 0;
  font-size: 20px;
  border-radius: 8px;
  color: #fff;
}

#header-sec-container .header-sec nav .ham-Burger-container {
  display: none;
}

@media only screen and (max-width: 991px) {
  #header-sec-container .header-sec nav .ham-Burger-container {
    display: block;
  }
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger span {
  background-color: #009f30;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger span:nth-child(2) {
  top: 13px;
  left: 0px;
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger:not(.open):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger:not(.open):hover span:nth-child(2) {
  -webkit-transform: rotate(3deg) scaleY(1.1);
          transform: rotate(3deg) scaleY(1.1);
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger:not(.open):hover span:nth-child(3) {
  -webkit-transform: rotate(-4deg) scaleY(1.1);
          transform: rotate(-4deg) scaleY(1.1);
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger:not(.open):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

#header-sec-container .header-sec nav .ham-Burger-container #ham-Burger:not(.open):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

#header-sec-container .header-sec nav .ham-Burger-container .open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
}

#header-sec-container .header-sec nav .ham-Burger-container .open span:nth-child(2) {
  opacity: 0;
}

#header-sec-container .header-sec nav .ham-Burger-container .open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
}

#header-third-container {
  background-color: #031926;
}

#header-third-container nav {
  width: 95%;
  margin: auto;
  color: #fff;
}

#header-third-container nav button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#header-third-container nav ul {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

#header-third-container nav ul::-webkit-scrollbar {
  display: none;
}

#header-third-container nav ul li {
  padding: 15px 0;
}

#header-third-container nav ul li:hover {
  background-color: #04af2f;
}

#header-third-container nav ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: inherit;
}

main .hero-section {
  background-color: #031926;
  color: #fff;
  background-position: left 80px;
  background-repeat: no-repeat;
  background-image: url("https://www.tutorialspoint.com/static/img/homepage/heroBg.png");
}

main .hero-section .hero-section-container {
  display: -ms-grid;
  display: grid;
  width: 95%;
  margin: auto;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 767px) {
  main .hero-section .hero-section-container {
    -ms-grid-columns: 56% 1fr;
        grid-template-columns: 56% 1fr;
  }
}

main .hero-section .hero-section-container--left .content {
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.5rem;
}

@media only screen and (max-width: 767px) {
  main .hero-section .hero-section-container--left .content {
    padding-left: 0;
    margin-bottom: 20px;
  }
}

main .hero-section .hero-section-container--left .content h1 {
  font-size: 3.2rem;
}

@media only screen and (max-width: 767px) {
  main .hero-section .hero-section-container--left .content h1 {
    font-size: 1.5rem;
  }
}

main .hero-section .hero-section-container--left .content h1 span {
  color: #04af2f;
}

main .hero-section .hero-section-container--left .content input {
  width: 100%;
  outline: #04af2f 1px solid;
  border: 0;
  border-radius: 20px;
  padding: 12px 15px;
}

main .hero-section .hero-section-container--left .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
}

main .hero-section .hero-section-container--left .content div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .hero-section .hero-section-container--left .content div ul li {
  margin-left: 20px;
  font-size: 1.4rem;
}

main .hero-section .hero-section-container--left .content div ul li:hover {
  color: #04af2f;
  cursor: pointer;
}

main .hero-section .hero-section-container--right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-image: url("https://www.tutorialspoint.com/static/images/hero.png");
  height: 520px;
  display: block;
  background-position: right 0px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  main .hero-section .hero-section-container--right {
    display: none;
  }
}

main .learning-section .learning-section-container {
  width: 95%;
  margin: 20px auto 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .learning-section .learning-section-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .learning-section .learning-section-container div h1 {
  font-size: 3.2rem;
  color: #000;
}

@media only screen and (max-width: 767px) {
  main .learning-section .learning-section-container div h1 {
    font-size: 1.5rem;
  }
}

main .learning-section .learning-section-container div h1 span {
  color: #04af2f;
}

main .learning-section .learning-section-container div .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 767px) {
  main .learning-section .learning-section-container div .pagination {
    gap: 5px;
  }
}

main .learning-section .learning-section-container div .pagination .see-all-btn {
  background-color: #239327;
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  padding: 15px 20px;
  color: #fff;
}

main .learning-section .learning-section-container div .pagination .see-all-btn:hover {
  background-color: #08cb0e;
}

@media only screen and (max-width: 767px) {
  main .learning-section .learning-section-container div .pagination .see-all-btn {
    padding: 5px 10px;
    font-size: 12px;
  }
}

main .learning-section .learning-section-container div .pagination .pagination-btn {
  padding: 12px 15px;
  background-color: #031926;
  border-radius: 10px;
  color: #fff;
  border: 0;
}

main .learning-section .learning-section-container div .pagination .pagination-btn:hover {
  background-color: #0f2836;
}

@media only screen and (max-width: 767px) {
  main .learning-section .learning-section-container div .pagination .pagination-btn {
    padding: 2px 10px;
  }
}

main .learning-section .learning-section-container .two-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main .learning-section .learning-section-container .learning-options {
  margin-top: 20px;
  border-radius: 20px;
  background-color: #031926;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .learning-section .learning-section-container .learning-options .card-container {
  width: 100%;
  padding: 30px 50px;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@media only screen and (min-width: 1120px) {
  main .learning-section .learning-section-container .learning-options .card-container .card-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  main .learning-section .learning-section-container .learning-options .card-container .card-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  main .learning-section .learning-section-container .learning-options .card-container .card-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li {
  min-height: 120px;
  padding: 20px 10px;
  max-width: 100%;
  border-radius: 10px;
  font-size: 15px;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:nth-child(1) {
  background-color: #CFE9D0;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:nth-child(2) {
  background-color: #FEFAD8;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:nth-child(3) {
  background-color: #FCDBC4;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:nth-child(4) {
  background-color: #BFE4F5;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:nth-child(5) {
  background-color: #dbb7ff;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:nth-child(6) {
  background-color: #9e9ee7;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:nth-child(7) {
  background-color: #e79e9e;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:nth-child(8) {
  background-color: #CFE9D0;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li p:nth-child(2) {
  font-size: 1.3rem;
}

main .learning-section .learning-section-container .learning-options .card-container .card-list li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

main .product-section {
  margin: 20px 0;
}

main .product-section .store {
  width: 95%;
  margin: auto;
}

main .product-section .store input {
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  border: 0;
  background-color: #d5d9db;
}

@media only screen and (max-width: 767px) {
  main .product-section .store input {
    font-size: 15px;
    width: 50%;
  }
}

main .product-section .store input:focus {
  outline: 0;
}

main .product-section .store h1 {
  font-size: 3.2rem;
  font-family: inherit;
}

@media only screen and (max-width: 767px) {
  main .product-section .store h1 {
    font-size: 1.5rem;
  }
}

main .product-section .store .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media only screen and (max-width: 767px) {
  main .product-section .store .product-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}

main .product-section .store .product-container .loading {
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  main .product-section .store .product-container .loading {
    font-size: 20px;
  }
}

main .product-section .store .product-container .card {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

main .product-section .store .product-container .card:hover {
  scale: 1.02;
  cursor: pointer;
}

main .product-section .store .product-container .card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

main .product-section .store .product-container .card .details .tittle {
  color: #04af2f;
}

main .product-section .store .product-container .card .details .discription {
  font-size: 12px;
  color: #161649;
  text-align: center;
  --max-line: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-line);
}

main .product-section .store .product-container .card .details .price-and-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
  font-style: italic;
}

main .product-section .store .product-container .card .details button {
  color: #fff;
  background-color: #2c9d30;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

main .product-section .store .product-container .card .details button:hover {
  background-color: #04af2f;
}

@media only screen and (max-width: 767px) {
  main .product-section .store .product-container .card {
    max-width: 150px;
  }
  main .product-section .store .product-container .card img {
    width: 120px;
    height: 100px;
  }
  main .product-section .store .product-container .card .details .tittle {
    font-size: 10px;
  }
  main .product-section .store .product-container .card .details .discription {
    font-size: 8px;
  }
  main .product-section .store .product-container .card .details button {
    font-size: 10px;
    padding: 5px;
  }
}
/*# sourceMappingURL=main.css.map */